/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  
/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    background-color: purple;
    font-family: "Roboto";
    min-height: 100vh;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

.container {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "books sidebar";

    height: 100vh;
}

.header {
    grid-area: header;
    text-align: center;
    padding: 1rem;
}

.content {
    background-color: rgb(217, 217, 217);
    grid-area: books;
    padding: 25px;
}

.books {
    margin-left: 10rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;

    background-color: rgb(12, 85, 17);
    color: rgb(255, 255, 255);
    font-size: 26px;
    overflow: hidden;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-left: 8px solid rgb(0, 42, 0);
    box-shadow: 0px 5px 6px rgb(126, 126, 126), 5px -3px white, 6px -3px rgb(0, 0, 0),  10px -6px white, 15px -9px rgb(12, 85, 17);
}

.read-container #read {
    position: relative;
    display: inline-block;
    appearance: none;
    width: 50px;
    height: 20px;
    background-color: gray;
    border-radius: 30px;
}

.read-container {
    position: relative;
}

.read-container label {
    text-align: center;
}

.read-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    background-color: rgb(91, 91, 91);
    border-radius: 30px;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    left: 3px;
    top: 8.5px;
    background-color: rgb(91, 91, 91);
    border-radius: 50%;
}

.read-container #read:checked + .slider {
    background-color: aqua;
    transform: translateX(24px);
}

#read:checked + .read-status::before {
    content: 'Read';
    font-size: 13px;
}

.read-status {
    font-size: 17px;
}

.remove button, .read button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.book-info {
    padding:  0rem 2rem 2rem;
    font-size: 26px;
    align-self: center;
    text-align: center;
}

.book-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.read {
    font-weight: bold;
}

.pages {
    font-size: 20px;
}

.sidebar {
    background-color: rgb(227, 227, 227);
    grid-area: sidebar;
    display: flex;
    justify-content: center;
}

.show-add-dialog {
    padding: 10px;
}

.show-add-dialog button {
    margin-top: 5rem;
    border: none;
    padding: 1rem 3rem;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 3px 5px 6px rgb(126, 126, 126);
    cursor: pointer;
}

.show-add-dialog button:active {
    translate: 0 3px;
    box-shadow: none;
}

.close {
    border: none;
    /* padding: 10px 15px; */
    height: 30px;
    width: 30px;
    background-color: darkgray;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;   
}

dialog {
    margin: auto;
    margin-top: 8rem; 
}

.items-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

dialog button {
    margin-top: 10px;
    margin-right: 10px;
    align-self: end;
}

::backdrop {
    background-image: linear-gradient(
        90deg,
        darkgreen,
        rgb(11, 111, 83),
        green
    );
    opacity: 0.75;
}

.add-book-form {
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.add-book-form h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -15px;
    padding-bottom: 10px;
    
}

.add-book-form section p {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
}

.add-book-form section p input[type="text"],
.add-book-form section p input[type="number"] {
    width: 250px;
    height: initial;
    margin-left: 10px;
    padding-right: 15px;
}

.add-book-form section p label {
    width: 80px;
}

fieldset {
    border: none;
    margin-bottom: 1rem;
}

fieldset legend {
    float: left;
    padding-right: 10px;
}

fieldset p  {
    display: inline-block;
    padding-right: 10px;
}

.submit-button {
    align-self: center;
}

.submit-button button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 1px 3px 3px rgb(126, 126, 126);
    cursor: pointer;  
    margin-bottom: 1rem;
}